/* https://colorhunt.co/palette/fdf0d1ac7d8885586f643843 */
:root {
    --primary: #FDF0D1;
    --secondary: #AC7D88;
    --tertiary: #85586F;
    --accent: #643843;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary);
    color: var(--tertiary);
    text-align: center;
}

header {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

li {
    list-style: none;
}

nav li {
    color: var(--primary);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav li:hover {
    background-color: var(--tertiary);
}

a {
    color: var(--primary);
    text-decoration: none;
}

aside {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1rem;
}

main {
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-size: 2rem;
    margin-bottom: 1rem;
}

th,
td {
    border: 1px solid var(--tertiary);
    padding: 0.5rem;
}

td.add {
    background-color: var(--secondary);
    color: var(--primary);
}

th {
    background-color: var(--tertiary);
    color: var(--primary);
}

tr:nth-child(even) {
    background-color: var(--secondary);
}

tr:nth-child(odd) {
    background-color: var(--primary);
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='submit'] {
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1rem;
}

img {
    width: 5vw;
    height: 5vw;
    margin: 1rem;
}
