/* https://colorhunt.co/palette/fdf0d1ac7d8885586f643843 */
:root {
    --primary: #FDF0D1;
    --secondary: #AC7D88;
    --tertiary: #85586F;
    --quaternary: #85586F;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary);
    color: var(--tertiary);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--secondary);
}

a {
    color: var(--tertiary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: var(--primary);
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px 0;
}

footer {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
